bottle==0.12.21
bottle-websocket==0.2.9
cffi==1.15.0
Eel==0.14.0
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
pycparser==2.21
pyparsing==3.0.9
whichcraft==0.6.1
xlsx2csv==0.7.8
zope.event==4.5.0
zope.interface==5.4.0
